# Code structures 
    python conditions and if statements
    
# Loops
     while
     for

# if

In [1]:
a=3
b=3
if a==b:          # The two values are same then if statement execute
    print("The two values are equal")

The two values are equal

In [2]:
a=2
b=3
if a!=b:          # The two values are not equal then if statement execute 
    print("The two values are not equal")

The two values are not equal

In [3]:
a=10
b=10.1
if a<b:                       # a is less than b and the if statement execute
    print("a is less than to b")

a is less than to b

In [4]:
a=10
b=10
if a<=b:                       # a is less than or equal to b then if statement execute
    print("a is less than or equal to b")

a is less than or equal to b

In [5]:
a=10.2
b=10.1
if a>b:                       # a is greater than to b and the if statement execute
    print("a is grater than to b")

a is grater than to b

In [6]:
a=10
b=10
if a>=b:                       # a is greater than or equal to b and the if statement execute
    print("a is grater than or equal to b")

a is grater than or equal to b

# indentation
   (whitespace at the beginning of the line)

In [7]:
a=23
b=33
if a<b:
    print("a is less than to b")   # Here No indentation error

a is less than to b

In [8]:
a=23
b=33
if a<b:
print("a is less than to b")   # Will raise an indentation error

IndentationError: expected an indented block (1359364849.py, line 4)

# else

In [14]:
a=3
b=4
if a>b:                 # if statement error then execute else statement
    print("a is big")
else:
    print("b is big")

b is big

# elif

In [15]:
a=33
b=33
if a>b:                 # if statement error then go to elif statement condition is true then execeute
    print("a is big")
elif a==b:
    print("a and b are equal")
else:
    print("b is big")

a and b are equal

# short hand if...else

In [16]:
a,b=32,33
print("a is big")if a>b else print("b is big") # write an one line

b is big

# Operarators

# and

In [17]:
a = 200
b = 33
c = 500
if a > b and c > a:                   # The first and second condition are true the exceute the statement
    print("Both conditions are True")

Both conditions are True

# or

In [18]:
a = 200
b = 33
c = 500
if a > b or a > c:                                  # Any one condition is true then execute the condition
    print("At least one of the conditions is True")

At least one of the conditions is True

# Nested if

In [19]:
x = 41
if x > 10:
    print("Above ten,")
if x > 20:
    print("and also above 20!")
else:
    print("but not above 20.")

Above ten,
and also above 20!

# python while loops
    With the while loop we can execute a set of statements as long as a condition is true.

In [20]:
i = 1
while i<5:      # first four numbers are printed one by one
    print(i)
    i += 1

1
2
3
4

# break in while loop

In [21]:
i = 1
while i < 6:   # break the condition if i is equal 3
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

# continue in while loop

In [13]:
i = 0
while i < 6:     #  Continue to the next iteration if i is 3
    i += 1
    if i == 3:   # not print 3
        continue
    print(i)

1
2
4
5
6

# else in while loop

In [26]:
i=0
while i<6:
    print(i)
    i=i+1
else:
    print("i is above 6")

0
1
2
3
4
5
i is above 6

# python for loop

In [43]:
for x in "MahendraN":
    print(x,end='')   # end='' use for the values printed in single line

MahendraN

In [45]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:                       # for loop in list
    print(x)

apple
banana
cherry

# break in for loop

In [59]:
alp=["a","b","c","d","e"]
for x in alp:
    if x=="d":            # The condition is equal to "d" then break the condtion
        break
    print(x)

a
b
c

# continue in for loop

In [60]:
alp=["a","b","c","d","e"]
for x in alp:
    if x=="d":            # The condition is equal to "d" then break the condtion
        continue
    print(x)

a
b
c
e

# range() function in for loop

In [67]:
for x in range(16): # print the range from 0 to 15
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [69]:
for x in range(1,16): # starting point is 1 and ending is 15
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [72]:
for x in range(1,16,2):  # increment the value 2 from 1 to 15
    print(x)

1
3
5
7
9
11
13
15

# else in for loop

In [73]:
for x in range(16):
    print(x)
else:
    print("The range is above ")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
The range is above

# if in for loop

In [93]:
for x in range(6):
    if x==4:
        break
    print(x)

0
1
2
3

# Nested loop in for loop

In [98]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# pass statement in for loop

In [102]:
for x in [0, 1, 2]:  # put in the pass statement to avoid getting an error. 
    pass