# Tuple

# Tuples are:
      Ordered          Ex:-(0,1,2,3...)
      Unchangeable     Ex:-("a","b","c","d")
      Allow Duplicates Ex:-("a","b","c","d") or("a","b","c","a")

In [1]:
tpl=("a","b","c")    # Tuple are are used round brackets
type(tpl)

tuple

In [2]:
tpl=("a","b","c","d")   # print the tuple items
print(tpl)

('a', 'b', 'c', 'd')

In [3]:
tpl=("a",1,2.0,True)
print(tpl)

('a', 1, 2.0, True)

# Tuple() Constructor

In [4]:
tpl=tuple(("a","b","c","d")) 
print(tpl)

('a', 'b', 'c', 'd')

# Accessing tuple elements in python

In [5]:
tpl=("a","b","c","d") # print the value using the index position
print(tpl[1])

b

In [6]:
tpl=("a","b","c","d") # print the last position using negative number
print(tpl[-1])

d

In [7]:
tpl=("a","b","c","d","e")
print(tpl[1:4])

('b', 'c', 'd')

In [8]:
tpl=("a","b","c","d","e")
print(tpl[-4:-2])

('b', 'c')

# if Statement

In [9]:
tpl=("a","b","c","d")
if"b"in tpl:
    print("Yes,b is present")
else:
    print("No,The latter is not present")

Yes,b is present

# for loop

In [10]:
tpl=("a","b","c","d")
for i in range(len(tpl)): # print the tuple of index positions
    print(i)

0
1
2
3

In [11]:
tpl=("a","b","c","d")
for i in range(len(tpl)): # print the tuple elements
    print(tpl[i])

a
b
c
d

In [12]:
tpl=("a","b","c","d")
for i in tpl:          # print the elements for given range
    print(tpl[2:])

('c', 'd')
('c', 'd')
('c', 'd')
('c', 'd')

In [13]:
tpl=("a","b","c","d")
for i in range(len(tpl)):
    print(tpl)

('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd')

In [14]:
tpl=("a","b","c","d")
for i in tpl[0:4]:
    if "b" in i:
        print("yes")
    else:
        print("No")
print(i)

No
yes
No
No
d

# While loop

In [15]:
tpl=("a","b","c","d")
i=0
while i<len(tpl):    # print the index numbers
    print(i)
    i=i+1

0
1
2
3

In [16]:
tpl=("a","b","c","d")
i=0
while i<len(tpl):    # print the index values
    print(tpl[i])
    i=i+1

a
b
c
d

# Update a tuple value

# change tuple to list then update a value
 Updating existing value

In [17]:
tpl=("a","b","c","d","e")  # tuple 
tp=list(tpl)               # convert to list
tp[4]="f"                  # update a 4 index position
tpl=tuple(tp)              # new element store in a tuple
print(tpl)                 # print the tuple

('a', 'b', 'c', 'd', 'f')

In [18]:
tpl=("a","b","c","d")
tp2=list(tpl)
tp2.append("e")
tpl=tuple(tp2)
print(tpl)

('a', 'b', 'c', 'd', 'e')

In [19]:
tpl=("a","b","c","d")  # Concatinate a tuple
t=("h",)
tpl=tpl+t
print(tpl)

('a', 'b', 'c', 'd', 'h')

In [20]:
tpl=("a","b","c","d","e")
tp2=list(tpl)
tp2.remove("e")
tpl=tuple(tp2)
print(tpl)

('a', 'b', 'c', 'd')

In [21]:
fruits=("apple","banana","cherry") 
fruits=(green,yellow,red)           # Assign a variables particular tuple value
print(green)
print(yellow)
print(red)

NameError: name 'green' is not defined

In [ ]:
fs=("apple","banana","cherry","strawberry","raspberry","a") 
(g,*r,y)=fs   # Assign a variable tuple value and * is used for morethan one value store in a variable
print(g)
print(r)
print(y)

# join tuples

In [ ]:
tp1=("a","b","c")
tp2=("d","e","f")
tp3=tp1+tp2
print(tp3)

In [ ]:
tp1=("a","b","c")*2     # Multify the tuple values
print(tp1)

# Tuple Methods

In [ ]:
tp=("a","b","c","a") # Count the one value howmany times writen
tp.count("a")

In [ ]:
tp=("a","b","c")
tp.index("a")    # print the value of index position